.secion{
    padding: 30px;
  }

.flex{
    display: flex;
    justify-content: space-between;
}

.box{
    background-color: #e3e3e3;
    height: 300px;
    width: 500px;
}

.col{
    padding: 10px;
}


 /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

 li:hover {
    background-color: #004d00;
    color: white;
}


/* for card  */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #004d00;
    color: white;
    
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


.footer {
   
    left: 0;
    bottom: 0;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #003300;
    color: white;
    text-align: center;
}

 @font-face {
    font-family: 'HUM777Blt';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url("/fonts/HUM777Blt.ttf") format("truetype");
  }
  body {
    font-family: HUM777Blt, sans-serif;
  }
